<h2>By Country</h2>
<hr>

<div class="row">
  <div class="col">
   <app-country-input (onEnter)="search($event)" (onDebounce)="suggestions($event)" placeholder="Search country"></app-country-input>
  </div>
</div>

<hr>

<div *ngIf="hasError"
  class="alert alert-danger">
  Nothing was found with the term {{term}}
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">

    <app-country-table [countries]="countries"></app-country-table>

  </div>
</div>
