<h2>Search</h2>
    <hr>
    <ul class="list-group">
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item">
        By country
      </li>

      <li
        routerLink="region"
        routerLinkActive="active"
        class="list-group-item">
        By region
      </li>

      <li
        routerLink="capital"
        routerLinkActive="active"
        class="list-group-item">
        By capital
      </li>

      <hr>
      <a target="_blank" href="https://gitlab.com/alpertoy/countries-app"><img src="assets/images/gitlab.png" width="50" height="50" alt="logo">Gitlab Repository</a>
    </ul>
